<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositions</key>
	<array>
		<dict>
			<key>adjustmentRatioX</key>
			<real>0.0</real>
			<key>adjustmentRatioY</key>
			<real>0.0</real>
			<key>children</key>
			<array>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>className</key>
					<string>Cloud</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
						<dict>
							<key>color</key>
							<string>0.664287:0.816080:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.59325175382653061</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>2</integer>
					<key>frame</key>
					<string>{{170, 30}, {500, 250}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>EA67BE5B-2FE7-4AAE-BCB6-2606C7F31970</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>145</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Cloud</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.5</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNDA0XGNvY29hc3VicnRmNDYwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O30KXHBh
					cmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0eDIy
					NDBcdHgyODAwXHR4MzM2MFx0eDM5MjBcdHg0
					NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYwXHR4
					NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBhcnRp
					Z2h0ZW5mYWN0b3IwCgpcZjBcZnMyNCBcY2Yw
					IFx1cDAgT3JkZXIgREJ9
					</data>
					<key>className</key>
					<string>Cylinder</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{510, 100}, {100, 100}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>0B4D6565-5BE9-473D-A60C-63928745D200</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Cylinder</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNDA0XGNvY29hc3VicnRmNDYwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O30KXHBh
					cmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0eDIy
					NDBcdHgyODAwXHR4MzM2MFx0eDM5MjBcdHg0
					NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYwXHR4
					NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBhcnRp
					Z2h0ZW5mYWN0b3IwCgpcZjBcZnMyNCBcY2Yw
					IFx1cDAgQWRtaW4gVUl9
					</data>
					<key>className</key>
					<string>Rectangle</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{360, 180}, {100, 70}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>6166A1CD-30FE-4E8D-9ACB-AC2AB6F3C1D4</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Rectangle</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNDA0XGNvY29hc3VicnRmNDYwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O30KXHBh
					cmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0eDIy
					NDBcdHgyODAwXHR4MzM2MFx0eDM5MjBcdHg0
					NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYwXHR4
					NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBhcnRp
					Z2h0ZW5mYWN0b3IwCgpcZjBcZnMyNCBcY2Yw
					IFx1cDAgQVBJfQ==
					</data>
					<key>className</key>
					<string>Rectangle</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{260, 90}, {100, 60}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>50E09B35-BD01-4717-8A6E-42DBA735F38A</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Rectangle</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>1</integer>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNDA0XGNvY29hc3VicnRmNDYwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O30KXHBh
					cmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0eDIy
					NDBcdHgyODAwXHR4MzM2MFx0eDM5MjBcdHg0
					NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYwXHR4
					NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBhcnRp
					Z2h0ZW5mYWN0b3IwCgpcZjBcZnMyNCBcY2Yw
					IFx1cDAgU2F2ZSBPcmRlcn0=
					</data>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{360, 120}, {150, 10}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>73F939CF-0837-4B81-A89C-0A45C09B07AB</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>145</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>1</integer>
					<key>arrowTypeB</key>
					<integer>0</integer>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNDA0XGNvY29hc3VicnRmNDYwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O30KXHBh
					cmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0eDIy
					NDBcdHgyODAwXHR4MzM2MFx0eDM5MjBcdHg0
					NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYwXHR4
					NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBhcnRp
					Z2h0ZW5mYWN0b3IwCgpcZjBcZnMyNCBcY2Yw
					IFx1cDAgUmVhZH0=
					</data>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{460, 210}, {50, -60}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>2215D562-A57B-4BA7-BE89-8AF4AF346B44</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNDA0XGNvY29hc3VicnRmNDYwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O30KXHBh
					cmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0eDIy
					NDBcdHgyODAwXHR4MzM2MFx0eDM5MjBcdHg0
					NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYwXHR4
					NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBhcnRp
					Z2h0ZW5mYWN0b3IwCgpcZjBcZnMyNCBcY2Yw
					IFx1cDAgU29tZSBTaG9wfQ==
					</data>
					<key>className</key>
					<string>Rectangle</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:0.802269:0.674053:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{20, 90}, {100, 60}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>C1BE2EFF-43D4-46E9-9B8E-ED1F793EE116</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Rectangle</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>1</integer>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNDA0XGNvY29hc3VicnRmNDYwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O30KXHBh
					cmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0eDIy
					NDBcdHgyODAwXHR4MzM2MFx0eDM5MjBcdHg0
					NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYwXHR4
					NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBhcnRp
					Z2h0ZW5mYWN0b3IwCgpcZjBcZnMyNCBcY2Yw
					IFx1cDAgTmV3IE9yZGVyfQ==
					</data>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{120, 120}, {140, 0}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>F599CAD3-340A-4990-9ECF-40C63133816F</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>145</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
			</array>
			<key>className</key>
			<string>Composition</string>
			<key>connections</key>
			<array>
				<dict>
					<key>pointerCorner</key>
					<integer>8</integer>
					<key>pointerIdentifier</key>
					<string>2215D562-A57B-4BA7-BE89-8AF4AF346B44</string>
					<key>shapeEdge</key>
					<integer>0</integer>
					<key>shapeIdentifier</key>
					<string>0B4D6565-5BE9-473D-A60C-63928745D200</string>
					<key>shapeRatio</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>8</integer>
					<key>pointerIdentifier</key>
					<string>73F939CF-0837-4B81-A89C-0A45C09B07AB</string>
					<key>shapeEdge</key>
					<integer>0</integer>
					<key>shapeIdentifier</key>
					<string>0B4D6565-5BE9-473D-A60C-63928745D200</string>
					<key>shapeRatio</key>
					<real>0.29999999999999999</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>0</integer>
					<key>pointerIdentifier</key>
					<string>73F939CF-0837-4B81-A89C-0A45C09B07AB</string>
					<key>shapeEdge</key>
					<integer>1</integer>
					<key>shapeIdentifier</key>
					<string>50E09B35-BD01-4717-8A6E-42DBA735F38A</string>
					<key>shapeRatio</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>8</integer>
					<key>pointerIdentifier</key>
					<string>F599CAD3-340A-4990-9ECF-40C63133816F</string>
					<key>shapeEdge</key>
					<integer>0</integer>
					<key>shapeIdentifier</key>
					<string>50E09B35-BD01-4717-8A6E-42DBA735F38A</string>
					<key>shapeRatio</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>0</integer>
					<key>pointerIdentifier</key>
					<string>2215D562-A57B-4BA7-BE89-8AF4AF346B44</string>
					<key>shapeEdge</key>
					<integer>1</integer>
					<key>shapeIdentifier</key>
					<string>6166A1CD-30FE-4E8D-9ACB-AC2AB6F3C1D4</string>
					<key>shapeRatio</key>
					<real>0.42857142857142855</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>0</integer>
					<key>pointerIdentifier</key>
					<string>F599CAD3-340A-4990-9ECF-40C63133816F</string>
					<key>shapeEdge</key>
					<integer>1</integer>
					<key>shapeIdentifier</key>
					<string>C1BE2EFF-43D4-46E9-9B8E-ED1F793EE116</string>
					<key>shapeRatio</key>
					<real>0.5</real>
				</dict>
			</array>
			<key>constrainAspectRatio</key>
			<false/>
			<key>contentFilterSpecs</key>
			<array/>
			<key>fillAngle</key>
			<integer>0</integer>
			<key>fillColor</key>
			<string>1.000000:1.000000:1.000000:1.000000</string>
			<key>fillGradientElements</key>
			<array/>
			<key>fillShadowBlur</key>
			<real>3</real>
			<key>fillShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>fillShadowHidden</key>
			<false/>
			<key>fillShadowOffsetX</key>
			<real>2</real>
			<key>fillShadowOffsetY</key>
			<real>2</real>
			<key>fillType</key>
			<integer>0</integer>
			<key>frame</key>
			<string>{{0, 0}, {700, 300}}</string>
			<key>gridTolerance</key>
			<real>10</real>
			<key>hidden</key>
			<false/>
			<key>identifier</key>
			<string>62F80B12-B845-4DFC-BF0F-50BFE7E6046F</string>
			<key>imageAnchorRatio</key>
			<string>{0.5, 0.5}</string>
			<key>imageType</key>
			<integer>0</integer>
			<key>locked</key>
			<false/>
			<key>metrics</key>
			<dict>
				<key>anchorCorner</key>
				<integer>0</integer>
				<key>group</key>
				<integer>0</integer>
				<key>height</key>
				<real>300</real>
				<key>name</key>
				<string>Custom</string>
				<key>unitType</key>
				<integer>0</integer>
				<key>width</key>
				<real>700</real>
			</dict>
			<key>opacity</key>
			<real>1</real>
			<key>rotationAngle</key>
			<integer>0</integer>
			<key>rotationHandleRadius</key>
			<real>100</real>
			<key>scaleImage</key>
			<true/>
			<key>scrollCenterPoint</key>
			<string>{350, 150}</string>
			<key>strokeColor</key>
			<string>0.000000:0.000000:0.000000:1.000000</string>
			<key>strokeLineCap</key>
			<integer>0</integer>
			<key>strokeLineJoin</key>
			<integer>1</integer>
			<key>strokeLineWidth</key>
			<real>1</real>
			<key>strokeShadowBlur</key>
			<real>5</real>
			<key>strokeShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>strokeShadowHidden</key>
			<true/>
			<key>strokeShadowOffsetX</key>
			<real>2</real>
			<key>strokeShadowOffsetY</key>
			<real>2</real>
			<key>strokeType</key>
			<integer>0</integer>
			<key>textAlign</key>
			<integer>2</integer>
			<key>textAppearanceType</key>
			<integer>0</integer>
			<key>textDrawOnPath</key>
			<false/>
			<key>textShadowBlur</key>
			<real>5</real>
			<key>textShadowColor</key>
			<string>0.000000:0.000000:0.000000:1.000000</string>
			<key>textShadowHidden</key>
			<true/>
			<key>textShadowOffsetX</key>
			<real>0.0</real>
			<key>textShadowOffsetY</key>
			<real>0.0</real>
			<key>textVerticalAlign</key>
			<integer>0</integer>
			<key>title</key>
			<string>Page 1</string>
			<key>userGuides</key>
			<array/>
			<key>userSetTitle</key>
			<false/>
			<key>zoomScaleIndex</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>image_ref_counts</key>
	<dict/>
	<key>version</key>
	<integer>7</integer>
</dict>
</plist>
